# Milestone 4
# DSC540-T303
# Ryan Krenke
# 5/19/24

## Cleaning/Formatting API Data

In [200]:
from bs4 import BeautifulSoup

In [201]:
import pandas as pd

In [202]:
import csv

In [203]:
import numpy as np

In [204]:
import requests

In [205]:
from scipy import stats

In [206]:
import urllib.request

In [207]:
import urllib.parse

In [208]:
import urllib.error

In [209]:
import json

In [210]:
# did not end up using this format because it wasn't working with my API
# with open('PurpleAPIKey.json') as p:
    # keys = json.load(p)
    # purapi = keys['PurpleAPIKey']

In [211]:
# {"PurpleAPIKey": "715839BC-F154-11EE-B9F7-42010A80000D"}  for reference

In [389]:
serviceurl = 'https://api.purpleair.com/v1/sensors/' # the base for the API url

In [390]:
# apikey = 'X-API-Key:' + purapi # did not end up using this format because it wasn't working with my API

In [391]:
sensor_indexDE = "38313/" # variable for the numeric code for the air quality sensor - found when clicking on sensor on map after the 'select=' in the url

In [392]:
fields = "fields=pm2.5_alt" # variable for the field of data being returned from the API - pm2.5

In [393]:
url = serviceurl + sensor_indexDE + "history?" + fields #building the full url request

In [394]:
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'}) #calling the url from the API

In [395]:
data1 = response.json() #adding the returned data to a variable

### Step 1

For my first step, I would like to compile all my data into a dataframe to be able to work with further. I will pull each separate API response from different random states in the US into separate dataframes and then combine them.

In [396]:
#building a dataframe from the data
df1 = pd.DataFrame.from_dict(data1, orient='index')
df1 = df1.transpose() #shifting the orientation

In [397]:
df1

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716144131,38313,1710960131,1716144131,10,0,"[time_stamp, pm2.5_alt]","[[1716118200, 9.2], [1716088800, 6.2], [171611..."

In [398]:
df1["State"] = 'Delaware' #adding a column for State to the dataframe with value Delaware

In [232]:
#repeating steps of previous API call with new sensor info from Maine
sensor_indexME = "202541/"
url = serviceurl + sensor_indexME + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data2 = response.json()
df2 = pd.DataFrame.from_dict(data2, orient='index')
df2 = df2.transpose()
df2

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716133351,202541,1710949351,1716133351,10,0,"[time_stamp, pm2.5_alt]","[[1716125400, 1.8], [1716122400, 3.4], [171609..."

In [363]:
df2["State"] = 'Maine' #adding a column for State to the dataframe with value Maine

In [364]:
#repeating steps of previous API call with new sensor info from Alabama
sensor_indexAL = "90725/"
url = serviceurl + sensor_indexAL + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data3 = response.json()
df3 = pd.DataFrame.from_dict(data3, orient='index')
df3 = df3.transpose()
df3

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716143912,90725,1710959912,1716143912,10,0,"[time_stamp, pm2.5_alt]","[[1716078600, 4.9], [1716110400, 7.7], [171609..."

In [365]:
df3["State"] = 'Alabama' #adding a column for State to the dataframe with value Alabama

In [366]:
#repeating steps of previous API call with new sensor info from Minnesota
sensor_indexMN = "186127/"
url = serviceurl + sensor_indexMN + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data4 = response.json()
df4 = pd.DataFrame.from_dict(data4, orient='index')
df4 = df4.transpose()
df4

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716143916,186127,1710959916,1716143916,10,0,"[time_stamp, pm2.5_alt]","[[1716078000, 0.7], [1716093600, 1.3], [171612..."

In [367]:
df4["State"] = 'Minnesota' #adding a column for State to the dataframe with value Minnesota

In [368]:
#repeating steps of previous API call with new sensor info from Colorado
sensor_indexCO = "220207/"
url = serviceurl + sensor_indexCO + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data5 = response.json()
df5 = pd.DataFrame.from_dict(data5, orient='index')
df5 = df5.transpose()
df5

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716143922,220207,1710959922,1716143922,10,0,"[time_stamp, pm2.5_alt]","[[1716088800, 1.3], [1716084000, 1.1], [171612..."

In [369]:
df5["State"] = 'Colorado' #adding a column for State to the dataframe with value Colorado

In [370]:
#repeating steps of previous API call with new sensor info from Oregon
sensor_indexOR = "111197/"
url = serviceurl + sensor_indexOR + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data6 = response.json()
df6 = pd.DataFrame.from_dict(data6, orient='index')
df6 = df6.transpose()
df6

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716143925,111197,1710959925,1716143925,10,0,"[time_stamp, pm2.5_alt]","[[1716032400, 36.4], [1716064800, 0.3], [17159..."

In [371]:
df6["State"] = 'Oregon' #adding a column for State to the dataframe with value Oregon

In [372]:
#repeating steps of previous API call with new sensor info from California
sensor_indexCA = "173577/"
url = serviceurl + sensor_indexCA + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data7 = response.json()
df7 = pd.DataFrame.from_dict(data7, orient='index')
df7 = df7.transpose()
df7

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716143928,173577,1710959928,1716143928,10,0,"[time_stamp, pm2.5_alt]","[[1716097200, 21.9], [1716087600, 13.0], [1716..."

In [373]:
df7["State"] = 'California' #adding a column for State to the dataframe with value California

In [374]:
#repeating steps of previous API call with new sensor info from Texas
sensor_indexTX = "87099/"
url = serviceurl + sensor_indexTX + "history?" + fields
response = requests.get(url, headers={'X-API-Key': '715839BC-F154-11EE-B9F7-42010A80000D'})
data8 = response.json()
df8 = pd.DataFrame.from_dict(data8, orient='index')
df8 = df8.transpose()
df8

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data
0,V1.0.13-0.0.56,1716143931,87099,1710959931,1716143931,10,0,"[time_stamp, pm2.5_alt]","[[1716117000, 35.1], [1716106200, 27.2], [1716..."

In [375]:
df8["State"] = 'Texas' #adding a column for State to the dataframe with value Texas

In [435]:
purpleairdf = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8]) #adding all the previous dfs together with concat function into new df

In [436]:
purpleairdf

,api_version,time_stamp,sensor_index,start_timestamp,end_timestamp,average,private,fields,data,State
0,V1.0.13-0.0.56,1716144131,38313,1710960131,1716144131,10,0,"[time_stamp, pm2.5_alt]","[[1716118200, 9.2], [1716088800, 6.2], [171611...",Delaware
0,V1.0.13-0.0.56,1716133351,202541,1710949351,1716133351,10,0,"[time_stamp, pm2.5_alt]","[[1716125400, 1.8], [1716122400, 3.4], [171609...",Maine
0,V1.0.13-0.0.56,1716143912,90725,1710959912,1716143912,10,0,"[time_stamp, pm2.5_alt]","[[1716078600, 4.9], [1716110400, 7.7], [171609...",Alabama
0,V1.0.13-0.0.56,1716143916,186127,1710959916,1716143916,10,0,"[time_stamp, pm2.5_alt]","[[1716078000, 0.7], [1716093600, 1.3], [171612...",Minnesota
0,V1.0.13-0.0.56,1716143922,220207,1710959922,1716143922,10,0,"[time_stamp, pm2.5_alt]","[[1716088800, 1.3], [1716084000, 1.1], [171612...",Colorado
0,V1.0.13-0.0.56,1716143925,111197,1710959925,1716143925,10,0,"[time_stamp, pm2.5_alt]","[[1716032400, 36.4], [1716064800, 0.3], [17159...",Oregon
0,V1.0.13-0.0.56,1716143928,173577,1710959928,1716143928,10,0,"[time_stamp, pm2.5_alt]","[[1716097200, 21.9], [1716087600, 13.0], [1716...",California
0,V1.0.13-0.0.56,1716143931,87099,1710959931,1716143931,10,0,"[time_stamp, pm2.5_alt]","[[1716117000, 35.1], [1716106200, 27.2], [1716...",Texas

### Step 2

I only need to work with the State and data columns, so I will only keep those columns.

In [437]:
purpleairdf2 = purpleairdf[['State', 'data']] #creating new df with only the state and data columns

In [438]:
purpleairdf2

        State                                               data
0    Delaware  [[1716118200, 9.2], [1716088800, 6.2], [171611...
0       Maine  [[1716125400, 1.8], [1716122400, 3.4], [171609...
0     Alabama  [[1716078600, 4.9], [1716110400, 7.7], [171609...
0   Minnesota  [[1716078000, 0.7], [1716093600, 1.3], [171612...
0    Colorado  [[1716088800, 1.3], [1716084000, 1.1], [171612...
0      Oregon  [[1716032400, 36.4], [1716064800, 0.3], [17159...
0  California  [[1716097200, 21.9], [1716087600, 13.0], [1716...
0       Texas  [[1716117000, 35.1], [1716106200, 27.2], [1716...

### Step 3

The data in the 'data' column contains lots of data in list format. I need to separate those list values out into different rows.

In [443]:
# using the explode function to expand the values in the list of the data column into separate values in new rows
purpleairdf3 = purpleairdf2.explode('data')

In [444]:
purpleairdf3

       State                data
0   Delaware   [1716118200, 9.2]
0   Delaware   [1716088800, 6.2]
0   Delaware  [1716114600, 12.8]
0   Delaware  [1716117600, 10.3]
0   Delaware   [1713544800, 2.1]
..       ...                 ...
0      Texas   [1714678200, 9.0]
0      Texas   [1714662000, 6.7]
0      Texas   [1714683600, 5.0]
0      Texas   [1714693200, 5.4]
0      Texas  [1714618200, 12.0]

[63965 rows x 2 columns]

### Step 4

Now that the lists are separate, there is still unique data combined in the data column (both a date value and the actual air quality data). I need to remove the brackets and whitespace before splitting those unique values apart.

In [445]:
purpleairdf3['data'] = purpleairdf3['data'].astype(str) #making sure data column is of string type

In [447]:
purpleairdf3['data'] = purpleairdf3['data'].str.strip('[]') #removing brackets

In [448]:
purpleairdf3['data'] = purpleairdf3['data'].str.replace(' ','') #replacing whitespace

In [449]:
purpleairdf3

       State             data
0   Delaware   1716118200,9.2
0   Delaware   1716088800,6.2
0   Delaware  1716114600,12.8
0   Delaware  1716117600,10.3
0   Delaware   1713544800,2.1
..       ...              ...
0      Texas   1714678200,9.0
0      Texas   1714662000,6.7
0      Texas   1714683600,5.0
0      Texas   1714693200,5.4
0      Texas  1714618200,12.0

[63965 rows x 2 columns]

### Step 5

Now that only a comma separates the unique values, I can split the data on the comma delimeters.

In [451]:
purpleairdf3[['Date', 'PM2.5']] = purpleairdf3.data.str.split(",", expand=True) #splitting data in data column at the comma delimeter

In [452]:
purpleairdf3

       State             data        Date PM2.5
0   Delaware   1716118200,9.2  1716118200   9.2
0   Delaware   1716088800,6.2  1716088800   6.2
0   Delaware  1716114600,12.8  1716114600  12.8
0   Delaware  1716117600,10.3  1716117600  10.3
0   Delaware   1713544800,2.1  1713544800   2.1
..       ...              ...         ...   ...
0      Texas   1714678200,9.0  1714678200   9.0
0      Texas   1714662000,6.7  1714662000   6.7
0      Texas   1714683600,5.0  1714683600   5.0
0      Texas   1714693200,5.4  1714693200   5.4
0      Texas  1714618200,12.0  1714618200  12.0

[63965 rows x 4 columns]

### Step 6

In [454]:
purpleairdf3 = purpleairdf3.drop('data', axis=1) #removing the original data column

In [455]:
purpleairdf3

       State        Date PM2.5
0   Delaware  1716118200   9.2
0   Delaware  1716088800   6.2
0   Delaware  1716114600  12.8
0   Delaware  1716117600  10.3
0   Delaware  1713544800   2.1
..       ...         ...   ...
0      Texas  1714678200   9.0
0      Texas  1714662000   6.7
0      Texas  1714683600   5.0
0      Texas  1714693200   5.4
0      Texas  1714618200  12.0

[63965 rows x 3 columns]

### Step 7

In [456]:
purpleairdf3.reset_index(drop=True, inplace=True) #resetting the index of the dataframe dropping the prev index and replacing with new index column

### Fully cleaned and transformed API file dataset

In [459]:
purpleairdf3

          State        Date PM2.5
0      Delaware  1716118200   9.2
1      Delaware  1716088800   6.2
2      Delaware  1716114600  12.8
3      Delaware  1716117600  10.3
4      Delaware  1713544800   2.1
...         ...         ...   ...
63960     Texas  1714678200   9.0
63961     Texas  1714662000   6.7
63962     Texas  1714683600   5.0
63963     Texas  1714693200   5.4
63964     Texas  1714618200  12.0

[63965 rows x 3 columns]

As I considered what to gather for data from my chosen API, I recalled that I already had some air quality data from my flat csv file, so I needed to consider what I was gathering this data for. I knew my flat file did not contain any data from the state of Delaware, so I knew I wanted to include that this time. Also, the flat file data was from several years ago and this API data was more current. Therefore, I began pulling recent historical data from eight random sensors around the United States (including Deleware), reading the data into dataframes, and then combining all the dataframes into one. I chose PM2.5 as the air quality field to pull.  

The largest change that I had to make to my dataset was that the API put the date value (in Unix time) and the air quality reading into a list altogether in one column in the dataframe. Fortunately I was able to find a function that quickly was able to separate these into individual rows. Then all I had to do was remove the brackets and whitespace and split the values into two columns. 

I do not believe that I added any risks based on the transformations I performed, but I do recognize a possible issue with the way I gathered the data - I just chose eight random sensors. I did not consider any real guidelines for choosing which sensors to use, other than I wanted to use different areas around the US, but I am making an assumption that these are all equal types of sensors and they are giving me equal data. I recognize there could have been some unconscious bias for how I chose them. I will just have to ensure I am transparent in disclosing how I obtained this data.   

As far as data credibility, sourcing, and ethics, as I mentioned in the first milestone, this API is run by a private company that also sells the sensors it pulls the data from. I have to ask myself if they have any incentive to providing data that is skewed in a certain direction. Again, I just need to be transparent when reporting the final data.

In [460]:
import csv

In [461]:
purpleairdf3.to_csv(r'C:\Users\ryanr\dsc540\purpleair.csv', index = False)